body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* user-select: none; */
    overflow: auto;
    background-color: #0e0f0f;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow-x: hidden;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* a{
    color: rgb(185, 185, 185);
} */

ion-icon {
    color: #fff;
    font-size: 40px;
    margin: 0 5px;
}

section {
    display: flex;
    width: 100vw;
    height: 100vh;
}






.logo {
    cursor: pointer;
}

.start {
    text-align: center;
    height: 300px;
    font-size: 20px;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    color: rgb(226, 226, 226);
}

.start p {
    font-size: 19px;
}

.start h1 {
    font-size: 60px;
    margin: 0;
}

.start h5 {
    font-size: 20px;
    margin-bottom: 0;
}

.see-more {
    position: absolute;
    bottom: 60px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    width: 150px;
    height: 30px;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    box-shadow: inset 0px 0px 0px 3px #fff;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(5, 5, 5, 0.158));
    overflow: hidden;
    margin-top: 20vh;
    transition: 0.5s;
}

.see-more a {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.see-more:hover a {
    transition-delay: 0.3s;
    color: black;
}

.see-more::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #fff;
    transition: 0.5s;
    z-index: -1;
}

.see-more:hover::before {
    height: 100%;
}






.about {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.about h2 {
    text-align: center;
}

.about>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.about b {
    font-size: 17px;
}

.description {
    font-size: 15px;
    width: 50%;
}

.image-me {
    border-radius: 100%;
    overflow: hidden;
    width: 30%;
}

.image-me img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: bottom; */
}





.skills {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card-outside {
    margin: auto;
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: -1;
    width: 25%;
    height: 50%;
}

.card-content {
    background-color: green;
    width: 100%;
    height: 100%;
}

.card-content h3 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.card {
    width: 100%;
    height: 100%;
    background-color: red;
}

.card span {
    transition: 0.5;
}

.card span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, transparent, blue);
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.card span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, blue);
    animation: animate2 2s linear infinite 1s;
    opacity: 0;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
    }
}

.card span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, transparent, blue);
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.card span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(to top, transparent, blue);
    animation: animate4 2s linear infinite 1s;
    opacity: 0;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
    }
}






.bottom{
    width: 100%; height: 100px;
    text-align: center;
    position: absolute;
    line-height: 2;
    font-size: 15px;
    color: rgb(185, 185, 185);
    background-color: #242525;
}

.bottom a{
    text-decoration: none;
    color: rgb(185, 185, 185);
}